# Linux > https://github.com/github/gitignore/blob/master/Global/Linux.gitignore
.*
!.gitignore
*~

# Vim > https://github.com/github/gitignore/blob/master/Global/vim.gitignore
.*.sw[a-z]
*.un~
Session.vim

# Node.js > https://github.com/github/gitignore/blob/master/Node.gitignore
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
