[user]
	name = Austin M. Matherne
	email = AustinMatherne@ProtonMail.ch
	signingkey = 48D1E771
[core]
	editor = vim
	autocrlf = input
[i18n]
	filesEncoding = utf-8
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	keepBackup = false
[diff]
	tool = vimdiff
	indentHeuristic = true
[color]
	ui = auto
[alias]
	s = status -s
	a = add
	ph = push
	pht = push --tag
	pha = push --recurse-submodules=on-demand
	pl = pull
	plr = pull --rebase
	co = checkout
	b = branch
	cm = commit -S
	un = reset HEAD --
	rs = reset --hard
	last = log -1 HEAD
	history = log -p --graph
	lg = log --oneline --decorate --all --graph
	d = difftool
	unstash = !git stash show -p | git apply -R
[commit]
	template = /home/austinmatherne/.gitmessage
[help]
	autocorrect = 1
[github]
	user = AustinMatherne
[push]
	default = simple
[pull]
	rebase = true
[rerere]
	enabled = true
