[user]
	name = Austin M. Matherne
	email = AustinMatherne@ProtonMail.ch
	signingkey = 48D1E771
[core]
	editor = vim
	autocrlf = input
	excludesfile = ~/.gitignore
[i18n]
	filesEncoding = utf-8
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	keepBackup = false
[diff]
	tool = vimdiff
	indentHeuristic = true
[color]
	ui = auto
[alias]
	s = status -s
	b = branch -vv
	r = remote -vv
	rp = remote prune
	rpa = !git remote | tr '\n' ' ' | xargs git remote prune
	f = fetch
	fa = fetch --all
	a = add
	d = difftool
	dc = difftool --cached
	co = checkout
	cm = commit -S
	rs = reset
	rsh = reset --hard
	l = log --oneline --decorate --all --graph
	last = log -1 HEAD
	history = log -p --graph
	pl = pull
	ph = push
	pht = push --tag
	pha = push --recurse-submodules=on-demand
	unstage = reset HEAD --
	unstash = !git stash show -p | git apply -R
[commit]
	template = /home/austinmatherne/.gitmessage
[help]
	autocorrect = 1
[github]
	user = AustinMatherne
[push]
	default = simple
[pull]
	rebase = true
[rerere]
	enabled = true
